h1{
    font-size: 6.3em;
    position: relative;
    left: 350px;
}
header{
    background-color: black;
    color: gold;
}

.description{
    position: absolute;
    right: 20px;
    top: 150px;
    font-size: 1.5em;
}

table{
    border: 1px solid black;
    position: relative;
    left: 400px;
    bottom: 350px;
    width: 200px;
    height: 100px;
}

.lista{
    position: relative;
    left: 100px;
}

.lista-nao-numerada{
    list-style-type: square;
    position: relative;
}